<section >
          <img id="Imagen1" 
          src="https://i.imgur.com/ePdqMZz.png"
          title="source: imgur.com" 
          style='float: left' 
          class="img-fluid" 
           width="500">
          <br>   <br>
          <br>   <br>
 </section>     


    <section >
      <h1 id="TituloBody">Quien Soy</h1>
      <br><br>
           <div *ngFor=" let body of bodies">
           <p style="font-size: 1rem" id="Body">{{body.descripcion}}</p>
          <button *ngIf="isLogged"
          (click)="onOpenModal('edit',body)"
          type="button" 
          class="btn btn-primary tooltips"
          data-placement="top"
          data-toggle="tooltips"
          data-original-title="Edit"
          data-bs-toggle="modal" 
          data-bs-target="#editBodyModal">
          <i class="fa fa-pencil"></i>
          Editar 
          </button>
          <button *ngIf="isLogged"
          (click)="onOpenModal('delete',body)"
          type="button" 
          class="btn btn-secondary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Delete"
          data-bs-toggle="modal" 
          data-bs-target="#deleteBodyModal">
          <i class="fa fa-times"></i> 
          Borrar 
        </button>
      </div>
      &nbsp;
<div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBodyModal" *ngIf="isLogged">
  Añadir Descripcion
</button>
<br><br>


<!-- add Modal -->
<div class="modal fade" id="addBodyModal" tabindex="-1" aria-labelledby="addBodyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBodyModalLabel">Editar Descripcion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm"(ngSubmit)="onAddBody(addForm)">
          <div class="form-group">
               <label for="descripcion">Descripción</label>
               <input type="text"
               ngModel
               name="descripcion"
               class="form-control"
               id="descripcion"
               placeholder="Descripción"
               required
               >
   </div>
      <div class="modal-footer">
        <button type="button" 
        id="add-educacion-form"
        class="btn btn-secondary" 
        data-bs-dismiss="modal">
        Cerrar
      </button>
        <button 
        [disabled]="addForm.invalid"
        type="submit" 
        data-bs-dismiss="modal"
        class="btn btn-primary">
        Guardar Cambios
       </button>
      </div>
    </form>
   </div>
  </div>
 </div>
</div>


<!-- Delete modal -->
<div
  class="modal fade"
  id="deleteBodyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteBodyModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteBodyModelLabel">Borrar Descripcion
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: rgb(8, 8, 8)"> Estás seguro que quieres borrar <br>
          {{ deleteBody?.descripcion }} <br>
        </p>
        <div class="modal-footer">
          <button type="button" 
          class="btn btn-secondary" 
          data-bs-dismiss="modal">
          No
          </button>
          <button
          (click)="onDeleteBody(deleteBody!.idBody)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            type="submit"
          >
            Si
          </button>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Edit modal  -->
<div class="modal fade" id="editBodyModal" tabindex="-1" aria-labelledby="editBodyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBodyModalLabel">Editar Descripcion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" >
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input
              type="text"
              ngModel="{{ editBody?.descripcion }}"
              name="descripcion"
              class="form-control"
              id="descripcion"
              aria-describedby="emailHelp"
              placeholder="Descripcion"
              required
            />
          </div>
          <input
          type="hidden"
          ngModel="{{ editBody?.idBody }}"
          name="idBody"
          class="form-control"
          id="idBody1"
          placeholder=""
          required
        />
          <div class="modal-footer">
            <button type="button" 
            id="add-educacion-form"
            class="btn btn-secondary" 
            data-bs-dismiss="modal">
            Cerrar
          </button>
            <button
            (click)="onUpdateBody(editForm.value)"
              data-dismiss="modal"
              class="btn btn-primary"
              type="submit"
              data-bs-dismiss="modal"
              [disabled]="editForm.invalid"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>